# git+git://github.com/django/django.git@1.5b2
https://www.djangoproject.com/download/1.5c1/tarball/
ox
django-admin-sortable
django_extensions
django-debug-toolbar
sorl-thumbnail
Markdown
django-markitup
south
