{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h3 class="headingContent">Reset your password</h3>    
<p><strong>Please specify your email address to receive instructions for resetting your password.</strong></p>
<br>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
    <div data-role="fieldcontain">
        {{ form.email.errors }}    
        <label for="id_email">E-mail address:</label> {{ form.email }}
    </div>
    <input type="submit" value="RESET PASSWORD" data-theme="e" />
    
</form>
{% endblock %}
