/* fix ellipses issue on lists and add break word */

* {
    font-family: Lato, sans-serif;
}

@font-face {
	font-family: 'icomoon';
	src:url('../../static/fonts/icomoon.eot');
	src:url('../../static/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../../static/fonts/icomoon.woff') format('woff'),
		url('../../static/fonts/icomoon.ttf') format('truetype'),
		url('../../static/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fontIcons, .presentIconRed, .presentIconGreen {
    font-family: icomoon;
}

.clear {
    clear: both;
}

.none {
    display:none;
}

.strong {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.ui-body, .ui-mobile-viewport, .ui-page {
    color: #444;
}

.ui-mobile-viewport {
    background: #ddd;
}

.smallFont {
    font-size: 90%;    
}

.smallerFont {
    font-size: 80%;
}

.center {
    text-align: center;
}

.notify, .errorlist {
    text-shadow: none;
    padding: 12px 4px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    background: #f6c74b;
	margin: 0 0 10px 0;
}

.notify p {
    margin: 0;
}

.ui-page {
    max-width: 1000px;
    background: #e5e5e5;
}

.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
    margin: 0 auto;
    position: static; /* hack to horizontally center */
}

.listWhiteGradient .buttonCustom a {
    color: #fff;
}

.listWhiteGradient .buttonCustom {
    margin: 30px 0 0 0;
}

.loginForm {
    background: transparent;
    border: none;
}

.ui-btn-up-b, .ui-btn-hover-b {
    border: none;
}

/* header */

.ui-header {
    background: #CA252B;
    border: none;
    padding: 26px 0 4px 0;
    color: #eee;
    text-shadow: none;    
}

.ui-header .ui-btn-left, .ui-header .ui-collapsible {
    top: 79px;
}

.ui-header .ui-btn-left {
    left: 0;
}

.ui-header .ui-collapsible {
    position: absolute;
    right: 0;
    margin: 0;
    z-index: 200;
}

.ui-header .ui-btn .ui-icon {
    background-image: url('../images/icons-18-white.png');
}

#header a {
    color: #fff;
    text-decoration: none; 
}

#header .userDetails a {
    text-decoration: underline;
}

#menuMain li .ui-icon {
    display: none;
}

#menuMain li .ui-btn-inner {
    padding-right: 0;
}

.userDetails {
    position: absolute;
    right: 6px;
    top: 0;
    line-height: 1;
    margin: 0;
    padding: 8px 0 0 0;
    font-style: italic;
}

.userDetails span {
    display: inline-block;    
}

.userDetails span:first-of-type{
    padding-right: 5px;
    display: inline-block;
}

.userDetails span:last-of-type{
    padding-left: 5px;
}

.ui-mobile .ui-header h2 {
    font-size: 130%;
    margin: .1em 30% .2em;
    font-weight: normal;
}

.logo {
    display: block;
    margin: 0 auto;
}

/* end header */


/* end footer */

.ui-footer {
    text-shadow: none;
    border: none;
    background: #9FBE41;
    padding: 3px 3px 5px 3px;   
}

.ui-footer p {
    padding: 4px 0;
    font-weight: normal;
}

#footer a {
    color: #fff;    
}

/* end footer */


/* content */

.headingContent {
    font-size: 130%;
    font-weight: 700;
    line-height: 1.1;
    margin: 16px 0 32px;
    text-align: center;
    text-shadow: none;
}

#username-login:-webkit-autofill, #username-login:-webkit-autofill:focus, #username-password:-webkit-autofill, #username-password:-webkit-autofill:focus  {
	-webkit-box-shadow: 0 0 0 50px white inset;
	box-shadow: 0 0 0 50px white inset;
} /* to prevent chrome yellow background for inputs that it autofills  */

.listWhiteGradient li {
    padding: 4px 18px;
    cursor: default;
	background: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f9f9f9), to( #eee));
	background-image: -webkit-linear-gradient( #f9f9f9, #eee);
	background-image: linear-gradient( #f9f9f9, #eee);
}

.listWhiteGradient li p {
    line-height: 1.4;
    font-size: 90%;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    padding: 0.5em 15px;
}

.courseListLabel, .labelRelogin/*, .passwordChangeForm label*/ {
    padding: 10px 0 8px 0;
    display: block;
    float: left;
}

.labelRelogin/*, .passwordChangeForm label*/ {
	width: 20%;	
}

.courseList, .buttonRelogin/*, .passwordChangeForm div*/ {
    width: 78%;
    float: right;
    margin: 0;
}

/* .passwordChangeForm p {
	overflow: hidden;
}
 */
.courseList .ui-btn-inner {
    padding: .5em 20px;
}

/* end content */


/* form elements */

label.ui-input-text {
	font-weight: bold;
}

.ui-field-contain label.ui-input-text, .ui-field-contain label.ui-select {
    vertical-align: middle;
}

.ui-field-contain .ui-input-text {
    border-radius: 0;
}

.ui-input-text.ui-focus, .ui-focus {
    box-shadow: inset 2px 2px 10px rgba(0,0,0,0.2) !important;
}

.ui-select .ui-btn-inner {
    padding-top: 0.4em;
    padding-bottom: 0.5em;
}

.selectCenter .ui-select {
    width: 100%;
}

.listAttendance .ui-checkbox {
    float: right;
}
/* end form elements */

/* buttons and icons */

.presentIconRed, .presentIconGreen {
    color: #fff;
    font-weight: normal;
    font-size: 80%;
    padding: 4px;
    margin: 0 0 0 6px;
}

.presentIconRed {
    background: rgb(202,37,43);
}

.presentIconGreen {
    background: #7eca25;
}

.ui-icon, .ui-icon-searchfield::after {
    background-image: url('../images/icons-18-black.png');
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

#menuOptAccordion h2 .ui-icon {
    background-image: url('../images/icons-18-white.png');
}

.ui-btn-up-a {
    background: #bbb;
    border: none;
    text-shadow: none;
    color: #777;
}

.ui-btn-up-e, .ui-btn-hover-e, .ui-btn-hover-e:hover, .ui-btn-active, .ui-btn-hover-e:visited, .ui-header .ui-btn {
    color: #fff;
    text-shadow: none;
    border: none;
    border-radius: 0;
    background: #1b2670;
}

.ui-btn-hover-e, .ui-btn-hover-e:hover, .ui-btn-active .ui-btn-up-e, .ui-header .ui-btn:hover {
    background: #0962b5;
}

.ui-corner-all, .ui-btn-corner-all {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.ui-controlgroup-vertical .ui-btn {
    border-bottom-width: 1px;
}

.ui-btn-up-b, .buttonCustom, .controlTabs a:hover {
    background: #363590;
}

.buttonCustom .ui-btn-inner {
    padding: 0;
    border-top: none;
    text-shadow: none;
}

.controlTabs a:hover {
    text-shadow: none;
    color: #fff;
}

.buttonCustom a {
    padding: 6px 8px;
}

.ui-btn-hover-b, .buttonCustom:hover {
    background: #335cba;
}

#loginScreen .white {
	color: #fff;
}

/* end buttons and icons */


/* popup */

.ui-popup .ui-btn {
    text-transform: uppercase;
}

.ui-popup-screen.in {
    opacity: 0.7;
    filter: Alpha(Opacity=70);
}

.popupDiv {
    padding: 10px 20px;
}

.ui-popup h3:first-of-type {
    text-transform: uppercase;
    font-size: 120%;
    padding: 6px;
    margin: 10px 6px;
}

.popupDiv .ui-input-search, div.ui-input-text, .popupDiv .ui-btn {
    margin: 0.8em 0;
}

.ui-popup .coursesEnrolledLink {
    text-transform: capitalize;
    color: #999;
}

.cancelPopup {
    position: absolute;
    right: -10px;
    top: -20px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

.ui-popup-screen {
    position: fixed; /* changed to allow overlay to span full height  */
}

/* end popup */


/* calendar */

.dateAttendanceList {
    width: 38%;
    margin-top: 30px;
}

.dateAttendanceList .ui-li .ui-btn-inner a.ui-link-inherit {
    padding: 0.3em 15px;
}

.dateAttendanceUl h2 {
    padding-bottom: 10px;
}

.dateAttendanceUl p {
    font-size: 90%;
}

#custom-next {
    padding: 0 0 12px 0;
}

.fc-calendar .fc-row > div.fc-content:after {
	content: '';
}

.fc-calendar .fc-row > div > span.fc-date {
	z-index: 1;
}

.attended {
	display: inline-block !important;
	position: absolute;
	bottom: 0px;
	background: #CA252B;
	width: 100%;
	height: 10px;
}

/* end calendar */


/* media queries */

@media all and (max-width: 447px){
    .courseList, .courseListLabel, .labelRelogin, .buttonRelogin {
        float: left;
        width: 100%;
    }
}

/* end media queries */
