
<!DOCTYPE HTML>
<html lang="en">
<head>

<meta charset="utf-8">

<title>rue North Learning Systems {% block extra_title %}{% endblock %}</title>

<meta name="keywords" content="True North, Attendance, Worksheets, Tutorials, Study Abroad, SAT Tests">
<meta name="title" content="True North Learning Systems: Web Application"> 
<meta name="description" content="True North Web Application helps staff, tutors and students view and manage their attendance and courses. True North is a centre for tutorials for SAT, ACT, GMAT, GRE, IGCSE, AP, A Levels and more.">

<meta http-equiv="X-UA-Compatible" content="chrome=1"> <!-- chrome frame -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block extra_meta %}

{% endblock %}

<link rel="shortcut icon" href="/static/img/favicon.ico" />

<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    
<link rel="stylesheet" href="/static/css/jquery.mobile-1.3.0.css" type="text/css" />
<link rel="stylesheet" href="/static/css/main.css" type="text/css" />
<link rel="stylesheet" href="/static/css/calendario.css" type="text/css" />
<link rel="stylesheet" href="/static/css/calendariocustom.css" type="text/css" />
<link rel="stylesheet" href="/static/css/pickadate.01.inline.css" type="text/css" />

{% block extra_css %}

{% endblock %}


<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->


<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.mobile-1.3.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.calendario.js"></script>
<script type="text/javascript" src="/static/js/pickadate.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

{% block extra_js %}

{% endblock %}

</head>

<body>

<noscript><strong>You need Javascript to run this page</strong></noscript>

<div data-role="page" id="loginScreen" class="pageEach">
    
    <div data-role="header" id="header">
        {% block login %}
            <a href="index.html" data-role="button" data-theme="b" data-inline="true" data-rel="back" data-icon="back" data-iconpos="right" class="btnBack">Back</a>
            <p class="smallerFont userDetails"><span>Jogesh Motwani</span> | <span>Colaba</span> | <span><a href="" class="white">Logout</a></span></p>

        <div data-role="collapsible" data-mini="true" data-theme="b" data-content-theme="a" data-collapsed-icon="bars" data-expanded-icon="bars" data-iconpos="right" id="menuMain">
            <h4>Menu</h4>
            <ul data-role="listview">
                <li><a href="#">Mark attendance</a></li>
                <li><a href="#">View attendance</a></li>
                <li><a href="#">View Profiles</a></li>
                <li><a href="#">Add Profile</a></li>
                <li><a href="#">Change Centre</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div> <!-- end menu main  -->

        {% endblock %}
        <div class="headerLogo center">
            <a href="#loginScreen">
                <img src="static/img/logo.png" alt="logo-true-north" width="50" height="48" class="logo">
                <h2>TRUE NORTH</h2>
            </a>
        </div> <!-- end header logo  -->
    </div> <!-- end header  -->

    <div data-role="content" id="content">
    {% block content %}
    {% endblock %}
    </div> <!-- end content  -->

    <div data-role="footer" id="footer" class="smallFont center">
        <p>Copyright 2013</p>
        <p>Parent website: <a href="http://www.truenorth.in/" target="_blank">www.truenorth.in</a></p>
    </div> <!-- end footer  -->

</div>
    
  
</body>

</html>
