{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated  %}

   {% if user.user_type == 'admin' or user.user_type == 'superuser' or user.user_type == 'staff' or user.user_type == 'tutor' %}
        <h3 class="headingContent">Select an option</h3>



        <div data-role="collapsible-set" data-theme="e" data-content-theme="c" id="menuOptAccordion" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u">
            <div data-role="collapsible">
                <h2>Attendance</h2>
                <ul data-role="listview" data-icon="false">
                    <li><a href="/view_attendance/">Students</a></li>
                    {% if user.user_type != 'tutor' %}
                    <li><a href="/view_attendance_tutor/">Tutors</a></li>
                    {% endif %}
                </ul>
            </div>

            <div data-role="collapsible">
                <h2>View Profiles</h2>
                <ul data-role="listview" data-icon="false">
                    {% if user.user_type != 'tutor' %}
                    <li><a href="/staff/">Staff</a></li>
                    <li><a href="/tutors/">Tutors</a></li>
                    {% endif %}
                    <li><a href="/students/">Students</a></li>

                </ul>
            </div>

            <div data-role="collapsible">
                <h2>Add Profile</h2>
                <ul data-role="listview" data-icon="false">
                    {% if user.user_type != 'tutor' %}
                    <li><a href="/staff/add/">Staff</a></li>
                    <li><a href="/tutor/add/">Tutors</a></li>
                    {% endif %}
                    <li><a href="/student/add/">Students</a></li>

                </ul>
            </div>
        </div>
 
   {% else %} 
	  <p> You do not have  permissions to view this page </p>
   {% endif %}

{% else %} 
<p> You have not logged in.Please <a href="/login/">log in</a> </p>
{% endif %}





        
    
{% endblock %}






