{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<h3 class="headingContent">Change your password here</h3>
<form action="" class="" method="">
    
<div data-role="fieldcontain">
    <label for="old-password">Old Password</label>
    <input type="password" name="password" id="old-password" value="" autocomplete="off" required>             
</div>

<div data-role="fieldcontain">
    <label for="new-password">New Password:</label>
    <input type="password" name="password" id="new-password" value="" autocomplete="off" required>             
</div>
    
<div data-role="fieldcontain">
    <label for="confirm-password">Confirm New Password:</label>
    <input type="password" name="password" id="confirm-password" value="" autocomplete="off" required>             
</div>

<div class="center">
    <input type="submit" value="SUBMIT" data-theme="e" data-inline="true">
</div>
    
</form>    
{% endblock %}
