{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated  %}

   {% if user.user_type == 'admin' or user.user_type == 'superuser' %}
        <h3 class="headingContent">View Profiles: Student</h3>

	
        
        <div data-role="controlgroup" class="center controlTabs">
            <a href="#viewProfileStaff" data-role="button" data-theme="b" data-inline="true">Staff
            </a><a href="#viewProfileTutor" data-role="button"data-inline="true">Tutors
            </a><a href="#viewProfileStudent" data-role="button" data-inline="true">Students
            </a><a href="#viewProfileParent" data-role="button" data-inline="true">Parents</a>
        </div>    
        
        <br>
            
        <ul data-role="listview" data-inset="true" data-theme="c" data-filter="true" data-filter-placeholder="Type a staff member's name to narrow down the list" class="listWhiteGradient">
	  {% for student in students  %}
            <li data-icon="false">
                <div class="floatLeft">
                    <h2>{{ student.first_name  }} {{ student.last_name  }}</h2>
                    <p>{{student.get_email}}</p>
                    <p>Centre: {{student.centre}}</p>
		    <p> Status: {% ifequal student.is_active True %}Active{% else %}Inactive{% endifequal %}</p>
                    <p>Address: {{student.address}}</p>
                    <p> Guardian: {{student.guardian}}</p>

                </div>
                <span class="buttonCustom">
                    <a href="/student/edit/{{student.id}}" class="buttonCustom floatRight" data-role="button">Edit</a>
                </span>
                <div class="clear"></div>    
            </li>
	    {% endfor %}
            

            
 
   {% else %} 
	  <p> You do not have  permissions to view this page </p>
   {% endif %}

{% else %} 
<p> You have not logged in.Please <a href="/login/">log in</a> </p>
{% endif %}


        
    
{% endblock %}



